* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: x-large;
}

#go-back-btn {
    color: white;
}
button:hover {
    background-color: rgb(179, 106, 246);
    
}
#answer-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a {
    text-decoration: none;
    flex: auto;
    margin-left: 20px;
    color: rgb(182, 112, 247);
}
h1 {
    font-size: xx-large;
    font-weight: 600 ;
    width: 500px;
    display: block;
    
  
    
}
h2 {
    font-size: xx-large;
    font-weight: 600;

}

h3 {
    display: inline-flex;
    margin-right: 20px;
}


button {
    color: white;
    background-color: rgb(60, 4, 112);
    border-radius: 5px;
    border: 5px 15px 5px 15px;
    margin: 10px;
    padding: 5px 30px 5px 30px;

}
header {
    display: flex;
    justify-content: space-between;
}


div {
    align-items: center;
    text-align: center;
    margin: 70px;


}

.quiz-info {
    display: contents;

}
.my-high-score {
    width: 400px;
    text-align: left;
    font-size: larger;
    background-color: rgb(216, 194, 238);
    margin-left: 80px;
}
.high-scores-div {
    flex: auto;
    display: inline-block;
    justify-content: space-around;
}
.correct,
.wrong {
    font-weight: lighter;
    font-size: x-large;
}

.hide {
    display: none !important;
}


